<div>
    <h1>Search</h1>
    <form>
        <div class="form-group">
           
            <input type="text" [(ngModel)]="search" #name="ngModel" placeholder="Search Repositories" name="search">

            <button (click)="performSearch()" class="btn btn-primary">Search</button>
        </div>
    </form>

    <div *ngFor='let repo of repos'>
        
        <a [href]="repo.html_url" target="_blank">{{ repo.full_name }}</a>
        <p>Description: {{ repo.description }}</p>
        <p>Langauge: {{ repo.language }}</p>
        <p>Created: {{ repo.created_at|date }}</p>
    </div>
</div>