* {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    

  
}
.container {
    display: grid;
    grid-template-columns: 50% auto;
}



.light {
    background: #8FBC8F;
    min-height: 100vh;
    background: #9dab86;
    
}
/* .dark {
  background: #000;
  color: white;

  
} */
/* quote field */

 